<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.faircorp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Faircorp">
        <activity android:name=".Lists.RoomsActivity"></activity>
        <activity android:name=".Lists.BuildingsActivity" />
        <activity android:name=".Lists.HeatersActivity" />
        <activity android:name=".Entities.HeaterActivity" />
        <activity android:name=".Entities.RoomActivity" />
        <activity android:name=".Entities.BuildingActivity" />
        <activity
            android:name=".Lists.WindowsActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Entities.WindowActivity"
            android:parentActivityName=".Lists.WindowsActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>